{{#if @data}}
  {{#let @data.CountryCode @data.Country as |countryCode countryName|}}
    <LinkTo
      @route="country"
      @model={{countryCode}}
      class="cards cards--flex cards--effects"
      data-test-card
    >
      <div class="cards__heading" data-test-card-heading>
        {{if countryName countryName 'Global'}}
      </div>
      <div class="cards_body" data-test-card-body>
        {{#each-in this.sortByCase as |key value|}}
          <div class="bagdes bagdes--flex badges--span badges--mediaquery text-center customSize bg-red" data-test-card-badge>
            <span class="badges__heading" data-test-card-badge-heading>
              {{space-pascal-case key}}
            </span>
            <span class="badges__body text-yellow-light" data-test-card-badge-value>
              {{add-commas number=value}}
            </span>
          </div>
        {{/each-in}}
      </div>
    </LinkTo>
  {{/let}}
{{/if}}
