<div class="flex-center text-center">
	<h1>{{this.model.countryName}}</h1>
</div>
<div class="chart">
	<EmberChart
	  @type="line"
	  @data={{this.dataGenerator}}
	  @options={{this.optionsObject}}
	  @width="300"
	  @height="300"
	/>
</div>
